.contextMenu {
    -fx-background-color: #ecedd1;
}

.menu-item .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.menu-item {
    -fx-background-color: #789655;
    -fx-border-style: solid solid none solid;
    -fx-border-width: 2;
    -fx-border-color: #ecedd1;
}

.menu-item:focused .label {
    -fx-text-fill: black;
}

.menu-item:focused {
    -fx-background-color: #ecedd1;
    -fx-cursor: hand;
}

.attackIcon {
    -fx-pref-width: 60;
    -fx-pref-height: 60;
}

.attackBoxBorder {
    -fx-border-style: solid;
    -fx-border-width: 0 0 2;
    -fx-border-color: white;
}
.btn-lg{
    -fx-cursor: hand;
}
.availableDialog{
    -fx-pref-height: 100px;
}
.game-start-btn{

}
.clear-field {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.clear-field:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.clear-field:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.clear-field .text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}


.start-game {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #13a318 0%, #129017 100%),
            #249d26,
            #3bd83a,
            radial-gradient(center 50% 50%, radius 100%, #3ad843, #2dc52c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.start-game:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #13a318 0%, #129017 100%),
            #249d26,
            #3bd83a,
            radial-gradient(center 50% 50%, radius 100%, #4bea4e, #30c52c);
}
.start-game:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.start-game .text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #07a300 , 0,0,0,2 );
}

.show-attacks {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #93a313 0%, #849012 100%),
            #889d24,
            #c3d83a,
            radial-gradient(center 50% 50%, radius 100%, #c9d83a, #b1c52c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.show-attacks:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #93a313 0%, #849012 100%),
            #889d24,
            #c3d83a,
            radial-gradient(center 50% 50%, radius 100%, #d8ea4b, #adc52c);
}
.show-attacks:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.show-attacks .text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #97a300 , 0,0,0,2 );
}
